
body {
    width: 400px; /* make this wider or... */
}

#section1 {
    height: 500px; /* make this taller */
}

.section {
    background-color: yellow;
    margin: 10px;
    border: 1px solid dotted;
}
