<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>centered one column</title>
    <style>

      #centered {
        width: 550px;
        margin: 0 auto;
        background-color: #CCC;
        height: 500px;
      }

      #footer {
        height: 100px;
        margin: 0 auto;
        width: 550px;
        background-color: red;
      }

      #container {
        background-color: yellow;
      }
    </style>
  </head>

  <body>
    <div id="container">
      <div id="centered">
        <p>Bacon ipsum dolor amet alcatra hamburger bacon picanha. Fatback boudin venison, kielbasa tail tongue swine sirloin. Brisket ribeye kielbasa pork loin. Short loin meatloaf pork chop jerky sausage fatback. Pancetta ball tip pork shankle meatloaf chuck. Bacon short loin corned beef beef tenderloin meatball cow leberkas venison turkey strip steak ribeye.

  Short ribs ball tip tail, picanha spare ribs leberkas sausage shank corned beef drumstick ribeye ham. Porchetta picanha andouille, hamburger short ribs ham hock chicken bresaola shank beef ribs cupim meatloaf kevin. Ground round ribeye frankfurter shoulder salami, turkey ham kevin. Beef ribs jowl doner, pancetta corned beef andouille chicken chuck boudin meatloaf rump turducken ham drumstick. Jerky spare ribs pork chop kevin, ball tip venison corned beef chicken meatloaf pork belly cupim ground round sirloin.

  Frankfurter venison bresaola swine ham hock jerky meatloaf pork belly meatball salami sirloin rump corned beef shank spare ribs. Turkey hamburger leberkas turducken swine jerky capicola shankle, bacon porchetta brisket ham beef andouille tri-tip. Ham filet mignon corned beef cow spare ribs, bresaola cupim doner turkey frankfurter t-bone capicola. Pastrami leberkas fatback, sirloin biltong tri-tip pork belly doner beef ribs. Brisket biltong kevin, beef short ribs frankfurter shankle tail pork cupim beef ribs bresaola pancetta porchetta. Tongue beef jowl corned beef, rump tenderloin drumstick boudin andouille biltong jerky hamburger short ribs chicken.

  Ci-tip porchetta, brisket leberkas pork chop pig. Pork chop frankfurter kevin, tail bacon swine turducken kielbasa pastrami turkey andouille beef boudin leberkas shoulder. Jowl chicken kevin short ribs biltong pastrami corned beef ham hock. Cow pig swine, chuck cupim capicola pork chop pork loin ball tip bacon. Chicken kevin picanha biltong pork belly ham bresaola alcatra ribeye short ribs landjaeger. Bacon frankfurter pork belly porchetta brisket alcatra.
        </p>

      </div>
      <div id="footer">
        <p>This is the footer...</p>
      </div>
    </div>
  </body>
</html>
