<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>centered one column</title>
    <style>

      #centered {
        width: 550px;
        margin: 0 auto;
        background: #CCC;
      }

    </style>
  </head>

  <body>

    <div id="centered">
      <p>Bacon ipsum dolor amet alcatra hamburger bacon picanha. Fatback boudin venison, kielbasa tail tongue swine sirloin. Brisket ribeye kielbasa pork loin. Short loin meatloaf pork chop jerky sausage fatback. Pancetta ball tip pork shankle meatloaf chuck. Bacon short loin corned beef beef tenderloin meatball cow leberkas venison turkey strip steak ribeye.

Short ribs ball tip tail, picanha spare ribs leberkas sausage shank corned beef drumstick ribeye ham. Porchetta picanha andouille, hamburger short ribs ham hock chicken bresaola shank beef ribs cupim meatloaf kevin. Ground round ribeye frankfurter shoulder salami, turkey ham kevin. Beef ribs jowl doner, pancetta corned beef andouille chicken chuck boudin meatloaf rump turducken ham drumstick. Jerky spare ribs pork chop kevin, ball tip venison corned beef chicken meatloaf pork belly cupim ground round sirloin.

Frankfurter venison bresaola swine ham hock jerky meatloaf pork belly meatball salami sirloin rump corned beef shank spare ribs. Turkey hamburger leberkas turducken swine jerky capicola shankle, bacon porchetta brisket ham beef andouille tri-tip. Ham filet mignon corned beef cow spare ribs, bresaola cupim doner turkey frankfurter t-bone capicola. Pastrami leberkas fatback, sirloin biltong tri-tip pork belly doner beef ribs. Brisket biltong kevin, beef short ribs frankfurter shankle tail pork cupim beef ribs bresaola pancetta porchetta. Tongue beef jowl corned beef, rump tenderloin drumstick boudin andouille biltong jerky hamburger short ribs chicken.

Cow spare ribs pork short loin shoulder tail venison pancetta pork loin porchetta boudin. Cupim jerky flank, pastrami venison drumstick bresaola t-bone ham prosciutto rump pancetta brisket pork ground round. Ham tongue short loin flank bresaola biltong leberkas pastrami. Boudin landjaeger tail cupim tongue. Turkey shankle tail, corned beef spare ribs ground round pork cow shoulder doner meatball rump pork chop bresaola.

Short loin pancetta meatloaf biltong cupim, shank doner fatback pastrami meatball pig. Tenderloin short ribs bresaola prosciutto swine rump picanha t-bone ham hock venison kevin ground round shankle sirloin. Short loin tenderloin bacon, t-bone kevin meatball ball tip pig. Ground round biltong tenderloin, spare ribs leberkas prosciutto shoulder pork chop doner picanha. Ribeye filet mignon bresaola kielbasa, cow ham hock shankle porchetta prosciutto boudin. Tri-tip cupim pastrami, sirloin bresaola short ribs tongue leberkas beef ribs hamburger.

Filet mignon cow turducken, cupim picanha swine pig porchetta jowl kevin pork pancetta venison sausage fatback. Landjaeger salami tongue spare ribs pastrami tri-tip shoulder venison sausage swine corned beef sirloin. Biltong tongue ham hock, salami pork belly ham turkey corned beef flank chicken pastrami doner kielbasa. Alcatra swine pancetta rump, turkey tri-tip beef ribs frankfurter boudin. Pork chop tenderloin landjaeger cow flank spare ribs beef ribs kevin shoulder. Porchetta kevin landjaeger ham hock swine drumstick doner beef ribs filet mignon. Pig ham meatball, t-bone ribeye boudin chuck hamburger meatloaf jerky.

Landjaeger frankfurter turducken flank rump kielbasa turkey boudin shoulder pig ball tip cow meatloaf. Ham hock venison fatback jowl swine short loin bresaola leberkas turducken cupim strip steak tail prosciutto. Picanha hamburger ball tip pastrami pig tri-tip t-bone venison cupim jowl capicola short ribs. Pork belly pig andouille pork chop tail shankle ground round corned beef picanha pork loin. Ground round kevin leberkas, porchetta chicken tail sirloin brisket jerky. Tenderloin meatloaf andouille jerky tongue ham pork jowl pork belly corned beef.

Turducken tri-tip porchetta, brisket leberkas pork chop pig. Pork chop frankfurter kevin, tail bacon swine turducken kielbasa pastrami turkey andouille beef boudin leberkas shoulder. Jowl chicken kevin short ribs biltong pastrami corned beef ham hock. Cow pig swine, chuck cupim capicola pork chop pork loin ball tip bacon. Chicken kevin picanha biltong pork belly ham bresaola alcatra ribeye short ribs landjaeger. Bacon frankfurter pork belly porchetta brisket alcatra.</p>

    </div>

  </body>
</html>
