<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>2 column layout - absolute</title>
  <style>
    #left {
      top: 0;
      left: 0;
      width: 25%;
      height: 100%;
      background: green;
      position: absolute;
    }
    #right {
      top: 0;
      left: 25%;
      width: 75%;
      height: 100%;
      background: blue;
      position: absolute;
    }
  </style>
</head>

  <body>
    <div id="left">
      <ul>
       <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
       <li>Aliquam tincidunt mauris eu risus.</li>
       <li>Vestibulum auctor dapibus neque.</li>
    </ul>

    </div>
    <div id="right">
      <ul>
         <li>Morbi in sem quis dui placerat ornare. Pellentesque odio nisi, euismod in, pharetra a, ultricies in, diam. Sed arcu. Cras consequat.</li>
         <li>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus.</li>
         <li>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.</li>
         <li>Pellentesque fermentum dolor. Aliquam quam lectus, facilisis auctor, ultrices ut, elementum vulputate, nunc.</li>
      </ul>

    </div>
  </body>
</html>
