{% extends "github-layout.html" %}
{% block body %}
<span>Logged in as {{ user }}</span>
<a href="/login" class="logout">Logout</a>

<form method="POST" action="/save">
  <label for="project">Enter a project name:</label>
  <input type="text" name="project" id="project">
  <label for="user">Select a master user:</label>
  <select name="user">
    {% for user in users %}
    <option value="{{ user.id }}">{{ user.fullname }}</option>
    {% endfor %}
  </select>
  <button type="submit">Save</button>
</form>

<hr>

<form method="POST" action="/know">
  <label for="userknow">Find out what Tech a user knows:</label>
  <select name="userknow">
    {% for user in users %}
    <option value="{{ user.id }}">{{ user.fullname }}</option>
    {% endfor %}
  </select>
  <button type="submit">Search</button>
</form>

<hr>

<h3>My projects:</h3>
<ul>
  {% for project in projects %}
  <li>{{ project.name }}</li>
  {% endfor %}
</ul>

{% endblock %}
