<div class="col col-xs-12">
  <p>I am currently a Senior Product Manager at Black Book, a division of Hearst Business Media.</p>
  <p>My hobbies include:</p>
  <ul>
    <li>High Performance Driving</li>
    <li>Coding</li>
    <li>Enjoying my wife's cooking</li>
  </ul>
</div>
