<div class="col col-xs-12">
  <p>Welcome to my portfolio. My name is Kyle Luck and I am a student at DigitalCrafts.</p>
  <p>I am currently learning:</p>
  <ul>
    <li>Express</li>
    <li>Nodejs</li>
  </ul>
</div>
