<p>Here are some projects I've worked on:</p>
<a class="project" href="http://digitalcrafts-may-2016-cohort.github.io/the-transcluders/"><img src="sentimotion.png"></a>
<a class="project" href="http://kyleluck.github.io/blackjack/"><img src="blackjack.png"></a>
<a class="project" href="http://kyleluck.github.io/movie-app-angular/#/"><img src="movieapp.png"></a>
