<div class="col col-xs-12">
  <p>Here are some projects I've worked on:</p>
</div>

<div class="projects">
  <div class="col col-sm-4">
    <a class="project" href="http://digitalcrafts-may-2016-cohort.github.io/the-transcluders/"><img src="sentimotion.png"></a>
  </div>
  <div class="col col-sm-4">
    <a class="project" href="http://kyleluck.github.io/blackjack/"><img src="blackjack.png"></a>
  </div>
  <div class="col col-sm-4">
    <a class="project" href="http://kyleluck.github.io/movie-app-angular/#/"><img src="movieapp.png"></a>
  </div>
</div>
