* {
  box-sizing: border-box;
}
body {
  text-align: center;
}
img {
  display: block;
  /*margin: 15px auto;*/
  float: left;
  box-shadow: 0 10px 6px -6px #777;
  width: 80%;
}
a {
  text-decoration: none;
  color: black;
  padding: 5px;
  background-color: #ccc;
}
a:active {
  background-color: orange;
}
.previous, .next {
  margin-top: 20%;
  background-color: transparent;
  font-size: 2em;
  height: 100px;
  width: 10%;
  float: left;
}
.container {
  margin-top: 10px;
}
