<form action="/{{ pageName }}/save" method="post">
  <p>This wiki supports markdown</p>
  <textarea name="pageContent" cols="60" rows="10">{{ currentContent }}</textarea><br>
  <input type="submit" value="Save">
</form>
